on init
    chmod 0666 /sys/class/backlight/aml-bl/brightness
    chown system system /sys/class/backlight/aml-bl/brightness
    chmod 0666 /sys/class/backlight/aml-bl1/brightness
    chown system system /sys/class/backlight/aml-bl1/brightness

service vendor.lights  /vendor/bin/hw/lights
    class hal
    user system
    group system
    # FIXME: actually do this
    # shutting off lights while powering-off
    shutdown critical