service vendor.boot-droidlogic-recovery /system/bin/hw/android.hardware.boot-service_recovery
    class early_hal
    user root
    group root
    seclabel u:r:hal_bootctl_default:s0
    interface aidl android.hardware.boot.IBootControl/default

