on post-fs-data
    mkdir /data/vendor/csrs 0770
    chmod 0777 /vendor/bin/rkp_extract.sh

on property:vold.post_fs_data_done=1 && property:ro.boot.firstboot=1
start rkp_extract

service rkp_extract /vendor/bin/rkp_extract.sh
    user root
    group root
    oneshot
    seclabel u:r:su:s0
